#Signbox{
    position: fixed;
    top: 0;
    width: 100%;
}
#SignboxImg {
    position: relative;
    display: block;
    margin: 0 auto;
    transform: scale(0.75);
    z-index: 8;
}
#SignboxResult{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#SignboxResultShape {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
}
#SignboxResultImg{
    position: absolute;
    transform: scale(0.5);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    z-index: 888;
}
#SignboxResultImg {
    opacity: 0;
    transition: opacity 2s;
}